@import './base.css';

html, body { 
  margin: 0;
  padding: 0;
  width: 100%;
}

@font-face {
  font-family: 'BiteChalk';
  src: url('fonts/BiteChalk.ttf');
  font-weight: 800 900;
}
@font-face {
  font-family: 'BiteChalk';
  src: url('fonts/BiteChalkBold.ttf');
  font-weight: 600 799;
}
@font-face {
  font-family: 'BiteChalk';
  src: url('fonts/BiteChalkNormal.ttf');
  font-weight: 200 599;
}

@font-face {
  font-family: 'BiteChalk';
  src: url('fonts/BiteChalkSlim.ttf');
  font-weight: 1 199;
}

body {
  background: linear-gradient(to top, rgba(20, 92, 54, 0.25), rgba(20, 92, 54, 0.36)), url('images/chalkboard.jpg');
  background-repeat: repeat;
  color: rgba(255, 255, 255, .8);
}

#app {
  height: 100%;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {

}
