<script setup>
import glasses from './assets/images/glasses.png'
import money from './assets/images/money.png'
import highfive from './assets/images/highfive.png'
import computer from './assets/images/computer.png'
</script>

<template>
  <div class="intro">
    <h1 class="title">The Worker's Playbook</h1>
    <p style="font-style:oblique">Strategies for owning the means of production</p>
    <ul>
      <li>
        <img :src="glasses" />
        <div class="topic">
          <p>
            Society of the Spectacle & the Critique on Late Capitalism
          </p>
          <p>
            <ul>
              <li>Alienation of Workers</li>
              <li>Commodity fetish</li>
              <li>Recuperation</li>
            </ul>
          </p>
        </div>
      </li>
      <li>
        <img :src="money" />
        <div class="topic">
          <p>
            Value, Money, & Degradation of Local economies
          </p>
          <p>
            <ul>
              <li>Value as a first class citizen</li>
              <li>Money as a transport for Value</li>
              <li>Entertainment and psuedo economies</li>
            </ul>
          </p>
        </div>
      </li>
      <li>
        <img :src="highfive"/>
        <div class="topic">
          <p>
            Cooperation as an Organized Effort
          </p>
          <p>
            <ul>
              <li>Principles of Cooperation</li>
              <li>Cooperatives in practice</li>
              <li>Mechanic for retaining value</li>
              <li>Excerising end-to-end intention</li>
              <li>Caveats</li>
            </ul>
          </p>
        </div>
      </li>
      <li>
        <img :src="computer"/>
        <div class="topic">
          <p>
            Automation as a tool for efficiency and sustainability
          </p>
          <p>
            <ul>
              <li>Outcompeting the status quo</li>
              <li>Reduction of busy work</li>
              <li>Open source software</li>
            </ul>
          </p>
        </div>
      </li>
    </ul>
  </div>
</template>

<style scoped>
  .intro {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    font-family: 'BiteChalk';
    font-size: 50px;
    font-weight: 300;
  }

.intro h1 {
  font-weight: 900;
  font-size: 10s0px;
  color: rgba(255, 255, 213, 0.9);
  margin-bottom: 0;
}
.intro h4 {
  font-size: 56px;
  letter-spacing: 15px;
  color: rgb(199, 255, 247, 0.9);
  font-weight: 400;
}

div.topic p:nth-child(1) {
  color: rgba(255, 219, 232, 0.8);
  letter-spacing: 3px;
  font-weight: 300;
}

.intro p {
  margin-top: 10px;
}

h1.title {
  font-family: 'BiteChalk';
}
.intro ul {
  list-style-type: lower-roman;
  font-size: 30px;
  letter-spacing: 5px;
}
.intro ul li {
  margin-top: 10px;
}
.intro > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  letter-spacing: unset;
}
.intro > ul > li {
  padding: 0px;
  margin: 0px;
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-self: inherit;
  font-size: 46px;
  font-weight: 1;
}

div.topic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.intro > ul > li:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}
.intro ul li img {
  height: 100%;
  margin-right: 30px;
  display: flex;
  align-items: flex-start;
  width: 180px;
  height: 180px;
}

.intro > ul > li:nth-child(even) img {
  margin-right:0;
  margin-left:20px;
}
</style>
